<div id="home_body">

    <div id="Motto_div"">
      
        <p style=" margin-left: 20px;">Ideas start here,</p>
        <p style=" margin-left: 100px;">Write it. Feel it. Remember it.</p>
        <p style="margin-top: 50px; margin-left: 50px; ">Capture your thoughts before they fly away.</p>
        <p style="margin-top: 60px;">Grow your mind, one note at a time.</p>
        <p style="margin-top: 60px; margin-left: 180px;">Every great idea begins with a note</p>

        <div class="container my-5 p-4 rounded" style="max-width: 700px; margin-left: 1100px;">
            <div class="row row-cols-1 row-cols-sm-2 g-4 text-center">
                <div class="col">
                    <a href="/Note/Add" class="btn btn-light border shadow-sm w-100 h-100 p-4">
                        <div class="mt-2">Add Note</div>
                    </a>
                </div>
                

                <div class="col">
                    <a href="/Note/All" class="btn btn-light border shadow-sm w-100 h-100 p-4">
                        <div class="mt-2">All Notes</div>
                    </a>
                </div>

                <div class="col">
                    <a href="/Note/Completed" class="btn btn-light border shadow-sm w-100 h-100 p-4">
                        <div class="mt-2">Completed</div>
                    </a>
                </div>

                <div class="col">
                    <a href="/Note/Pending" class="btn btn-light border shadow-sm w-100 h-100 p-4">
                        <div class="mt-2">Pending</div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>

</div>



</div>




<footer class="border-top footer text-muted">
    <div id="footer_div">
        <ul id="footer_text">
            <li class="me-4">
                <strong>Social</strong>
                <ul class="sub-footer-list">
                    <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="mailto:support@mindboard.com">Email</a></li>
                </ul>
            </li>

            <li class="me-4">
                <strong>Info</strong>
                <ul class="sub-footer-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </li>

            <li class="me-4">
                <strong>Questions</strong>
                <ul class="sub-footer-list">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Community</a></li>
                </ul>
            </li>

            <li class="me-4">
                <strong>Contact</strong>
                <ul class="sub-footer-list">
                    <li><a href="mailto:support@mindboard.com">Email Support</a></li>
                    <li><a href="#">Live Chat</a></li>
                    <li><a href="#">Send Feedback</a></li>
                </ul>
            </li>

            <li class="me-4">
                <strong>Rules</strong>
                <ul class="sub-footer-list">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Community Guidelines</a></li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
